<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SplitCost Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Welcome to SplitCost!</h1>
		<form th:action="@{/index}" method="post" class="form-signin">
			<input type="text" id="email" name="email" th:placeholder="Email"
				class="form-control" /> <br /> <input type="password"
				th:placeholder="Password" id="password" name="password"
				class="form-control" /> <br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password
					invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="Login" type="Submit" th:text="Login"></button>
		</form>
		
		<br>

		<form th:action="@{/register}" method="get">
			<button class="btn btn-md btn-warning btn-block" type="Submit">I
				do not have an account yet</button>
		</form>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>