<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SplitCost Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="col-sm-9">
			<form th:action="@{/dashboard}" method="get">
				<button class="btn btn-md btn-warning btn-block" type="Submit">Back
					to dashboard</button>
			</form>
		</div>
		<br>
		<form autocomplete="on" action="#" th:action="@{/newCost}"
			th:object="${costWithDebtorsDTO}" method="post"
			class="form-horizontal" role="form">
			<h2>Add new cost item</h2>
			<div class="form-group">
				<div class="col-sm-9">
					<label th:if="${#fields.hasErrors('cost.name')}"
						th:errors="*{cost.name}" class="validation-message"></label> <input
						type="text" th:field="*{cost.name}" placeholder="Cost Name"
						class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9">
					<label th:if="${#fields.hasErrors('cost.amount')}"
						th:errors="*{cost.amount}" class="validation-message"></label> <input
						type="number" th:field="*{cost.amount}" placeholder="Cost Amount"
						class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-9">
					<select multiple th:field="*{selectedUsers}" class="form-control">
						<option th:each="user : ${allUsers}" th:value="${user.id}"
							th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-9">
					<label><input type="checkbox" th:field="*{splitEqually}" class="form-control"/>Split up equally?</label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-9">
					<button type="submit" class="btn btn-primary btn-block">Add
						Cost</button>
				</div>
			</div>

			<span th:utext="${successMessage}"></span> <br>
		</form>
		<br>
	</div>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>